{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/item.css">
{% endblock %}

{% block content %}

<div class="container">

    <div class="card">

        <div class="left">
            <img class="item-img" src="{{ item.img }}">
        </div>

        <div class="right">

            <h1>{{ item.name }}</h1>

            <div class="category">
                {{ item.type }}
            </div>

            <div class="effect">
                {{ item.effect | safe }}
            </div>

        </div>

    </div>

</div>

{% endblock %}