{% extends "base.html" %}

{% block title %}{{ pokemon.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pokemon.css">
{% endblock %}

{% block content %}

<div class="container">

    <h1>{{ pokemon.name }}</h1>

    <button 
    id="add-to-team-btn" 
    data-name="{{ pokemon.name }}" 
    data-img="{{ pokemon.img }}"
    >
        Ajouter à la team
    </button>

    <div class="top">

        <div class="left">

            <img class="pokemon-img" src="{{ pokemon.img }}" alt="{{ pokemon.name }}">

            <div class="types">
                {% for type_dict in pokemon.types %}
                <img src="{{ type_dict.img }}" alt="type">
                {% endfor %}
            </div>

        </div>

        <div class="stats">

            {% for stat, value in pokemon.stats.items() %}
            <div class="stat">
                <span class="label">{{ stat }} ({{ value }})</span>

                <div class="stat-bar-container">
                    <div class="stat-bar" data-stat="{{ value }}"></div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    <div class="bottom">

        <h3>Groupes d'oeufs</h3>
        {% for egg_dict in pokemon.eggs %}
        <div>{{ egg_dict.name }}</div>
        {% endfor %}

        <h3>Pré-Évolution</h3>
        {% if pokemon.preevo %}
            {% for pre in pokemon.preevo %}
                <div>{{ pre }}</div>
            {% endfor %}
        {% else %}
            <div>Aucune</div>
        {% endif %}

        <h3>Évolution</h3>
        {% if pokemon.evo %}
            {% for evo in pokemon.evo %}
                <div>{{ evo }}</div>
            {% endfor %}
        {% else %}
            <div>Aucune</div>
        {% endif %}

        <h3>Capacités apprises</h3>

        <table class="moves-table">

            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Puissance</th>
                <th>Précision</th>
                <th>PP</th>
                <th>Priorité</th>
            </tr>

            {% for move in pokemon.moves %}
            <tr>

                <td>{{ move.name }}</td>

                <td>
                    {% if move.type_img %}
                    <img src="{{ move.type_img }}" class="move-type">
                    {% endif %}
                </td>

                <td>
                    {% if move.category %}
                    <img src="{{ move.category }}" class="move-type">
                    {% endif %}
                </td>
                <td>{{ move.power if move.power is not none else '-' }}</td>
                <td>{{ move.accuracy }}</td>
                <td>{{ move.pp }}</td>
                <td>{{ move.priority }}</td>

            </tr>
            {% endfor %}

        </table>


    </div>

</div>

<!-- JS placé en fin de body pour que le DOM soit chargé -->
<script src="/static/script_pokemon.js"></script>

{% endblock %}