<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ pokemon.name }}</title>

    <link rel="stylesheet" href="/static/pokemon.css">
</head>

<body>

<div class="container">

    <h1>{{ pokemon.name }}</h1>

    <div class="top">

        <div class="left">

            <img class="pokemon-img" src="{{ pokemon.img }}" alt="{{ pokemon.name }}">

            <div class="types">
                {% for t in pokemon.types %}
                    <img src="{{ t }}" alt="type">
                {% endfor %}
            </div>

        </div>

        <div class="stats">

            {% for stat, value in pokemon.stats.items() %}
            <div class="stat">
                <span class="label">{{ stat }} ({{ value }})</span>

                <div class="stat-bar-container">
                    <div class="stat-bar" data-stat="{{ value }}"></div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    <div class="bottom">

        <h3>Groupes d'oeufs</h3>
        {% for egg in pokemon.eggs %}
            <div>{{ egg }}</div>
        {% endfor %}

        <h3>Évolution</h3>
        {% if pokemon.evo %}
            <div>{{ pokemon.evo }}</div>
        {% else %}
            <div>Aucune</div>
        {% endif %}

    </div>

</div>

<!-- JS placé en fin de body pour que le DOM soit chargé -->
<script src="/static/script_pokemon.js"></script>

</body>
</html>
